@font-face {
    font-family: "Pixel Acer Mono";
    src: url("./Px437_Acer710_Mono.ttf");
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    text-align: center;
    margin: 0;
    font-family: "Pixel Acer Mono", monospace;
}
.container-game {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.container-controls {
    background-color: rgb(0, 0, 0);
    width: 80rem;
    height: 10rem;
    border: 10px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#dotButton,
#dashButton {
    font-size: 30px;
    font-weight: bolder;
    padding: 3rem 6rem;
    border: none;
    border-radius: 0px;

    color: white;
}
#dotButton,
#dashButton {
    background: linear-gradient(145deg, #0e0e0e, #0c0c0c);
    box-shadow: 5px 5px 11px #050505, -5px -5px 11px #151515;
}

#submitButton {
    font-size: large;
    font-weight: bolder;
    background: linear-gradient(145deg, #0e0e0e, #0c0c0c);
    box-shadow: 5px 5px 11px #050505, -5px -5px 11px #151515;
    border: none;
    color: white;
}
#deleteButton {
    border: none;
    border-radius: 0px;
    background: linear-gradient(145deg, #1b0000, #170000);
    box-shadow: 5px 5px 11px #0a0000, -5px -5px 11px #280000;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    padding: 3rem 6rem;
}
button:active {
    transition: 0.2s;
    transform: translateY(2%);
}
button {
    cursor: pointer;
    transition: 0.2s;
}

#submitButton {
    padding: 3rem;
}
.container-wordDisplay {
    width: 50rem;
    height: 30rem;
    border: 10px solid white;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    gap: 30px;
}

#inputMorse {
    width: 15rem;
    height: 5rem;
    background-color: black;
    color: white;
    border: 5px solid white;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: x-large;
}

.container-stats {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20rem;
    height: 5rem;
    background-color: black;
    color: white;
    border: 5px solid white;
}
